.top-bar{
    height: 60px;
    background-color: #acc324;
}

.search-icon{

}

.user-icon{

}

.cart-icon{
    background-image: url(../images/cart.png);
    width: 25px;
    height: 25px;
    position: relative;
    float: right;
    padding: 15px;
    margin: 15px;
}

