.top-bar{
    height: 60px;
    background-color: #acc324;
}

.top-bar-icons{
    float: right;
    padding: 12px;
    position: relative;
}

.last-icon{
    margin-right: 50px;
}

.navbar{
    height: 120px;
    background-color: #fff;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .open>.nav-link{
    color: #ff5912!important;
    font-weight: bold;
    font-size: 24px;
}

.navbar-nav .nav-link{
    padding-right: 100px!important;
}

.navbar-light .navbar-nav .nav-link{
    color: #34404b!important;
    font-size: 24px;
}

.carousel-caption{
    text-align: left!important;
    left: 15px!important;
}

.carousel-caption h4{
    color: #ff5912!important;
}